{% extends 'home.html' %}
{% block content %}

<div class="container">
	<div class="row-fluid espaco">

		<section class="content">
				<div class="panel panel-default">
                		<h1>Estoque</h1>
					<div class="panel-body">
          {% if produtos %}
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter" data-target="ok">OK</button>
								<button type="button" class="btn btn-warning btn-filter" data-target="cuidado">Alerta</button>
								<button type="button" class="btn btn-danger btn-filter" data-target="faltando">Em falta</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
							</div>
						</div>

            <div class="table-container">
              <table id="mytable" class="table table-bordred table-striped" style="text-align: center;margin-top: 10%;">
              
                <thead>
                  <tr>                        
                    <th class="coluna">Nome</th>
                    <th class="coluna">Quantidade</th>
                    <th class="coluna">Quantidade Mínima</th>     
                  </tr>           
                </thead> 
                          
          {% endif %}
                <tbody>

          {% for produto in produtos %}
                  <tr onClick='return minhaFuncaoOnClick({{ produto.pk }});' onMouseOver='return minhaFuncaoOnMouseOver(this);' onMouseOut='return minhaFuncaoOnMouseOut(this);'>
                    <td data-status="{{ produto.get_status }}">
                      {{ produto.nome }}</td>
                    <td data-status="{{ produto.get_status }}">
                      {{ produto.quantidade }}</td>
                    <td data-status="{{ produto.get_status }}">
                      {{ produto.qtd_min }}</td>
                  </tr>
          {% empty %}
                  <tr>
                    <td>
                      <div class="alert alert-danger" role="alert">Nenhum produto cadastrado!</div>
                    </td>
                  </tr>
          {% endfor %}          

                </tbody>

              </table>
            </div>
					</div>
				</div>
		</section>

	</div>
</div>
    <script language='javascript' type='text/javascript'>
       function minhaFuncaoOnClick(pk){
           if (confirm("Deseja dar entrada em novas unidades?")) {
	           var quantidade = parseInt(prompt("Digite a quantidade:"));
               while (isNaN(quantidade) && quantidade != null){
                   var quantidade = parseInt(prompt("A quantidade deve ser um número, tente novamente:"));
	           }
           }

       }
       function minhaFuncaoOnMouseOver(objTR){
            objTR.style.background='#DDDDDD';
       }

       function minhaFuncaoOnMouseOut(objTR){
            objTR.style.background='#FFFFFF';
       }

    </script>

{% endblock %}