{% extends 'home.html' %}
{% block content %}
{% load static%}

	{% if user.e_funcionario == False %}
<div class="container" style=" margin-left: 27%; margin-top: 10%;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                          <a href="{% url 'bagagem:cliente' %}" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Minhas Bagagens</a>
                          <a href="{% url 'tecnico:pesquisar' %}" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Técnicos</a>
                          <a href="{% url 'accounts:mensagens' %}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Mensagens</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <a href="{% url 'accounts:conta' %}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Minha conta</a>
                          <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Delivery</a>
                          <a href="{% url 'core:contato' %}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Contato</a>
                        </div>
                    </div>
                    <a href="https://www.facebook.com/clinicadasmalas/" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>
	{% elif user.is_superuser == False%}
	<h1 style="color: white">Você é um operador! O que deve ter aqui?</h1>
	{% else %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<div class="container resumo_adm">  
  <div>
    <h2>Resumo Administrativo</h2>
  </div>
    <hr>
  <div class="col-md-6 quadro">
    <div class="titulo">
      <h4>Resumo de Vendas</h4>
    </div>
        <script type="text/javascript">      
          var ctx = document .getElementById( "myChart" ); 
          var ctx = document .getElementById( "myChart" ).getContext( "2d" ); 
          var ctx = $( "#myChart" ); 
          var ctx = "myChart"; 
        </script>
      <canvas id="myChart" width="100%" height= "50%"></canvas>
        <script> 
        var ctx = document .getElementById( "myChart" );
        var myChart = new Chart(ctx, { 
          type: 'bar' , 
          data: {  
            datasets: [{ 
              label: 'Nº de Vendas' , 
              data: [ 150 , 340 , 320 , 190 , 202 , 300 ],
              backgroundColor: [ 'rgba(30, 112, 201, 0.4)' ,'rgba(30, 112, 201, 0.4)' ,'rgba(30, 112, 201, 0.4)' ,'rgba(30, 112, 201, 0.4)' ,'rgba(30, 112, 201, 0.4)' ,'rgba(30, 112, 201, 0.4)'],
                }, {
              label: 'Nº de Atrasos',
              data: [30, 40, 10, 25, 12, 33],
              backgroundColor: ['rgba(236, 33, 44, 0.6)'],
              borderWidth:5,
              borderColor: ['rgba(255, 50, 50, 0.2)'],
              lineTension: 0,
              hitRadius: 5,

              type: 'line'}],
            labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho"]},
          options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] } } }); 
        </script> 
    </div>

    <div class="col-md-6 quadro">
      <div class="titulo">
        <h4>Resumo Financeiro</h4>
      </div>
          <script type="text/javascript">      
            var ctx = document .getElementById( "myLineChart" ); 
            var ctx = document .getElementById( "myLineChart" ).getContext( "2d" ); 
            var ctx = $( "#myLineChart" ); 
            var ctx = "myLineChart"; 
          </script>
        <canvas id="myLineChart" width="100%" height= "50%"></canvas>
          <script> 
          var ctx = document .getElementById( "myLineChart" );
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: { 
              labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho"],
              datasets: [{
                label: "Conta de Água", 
                data: [100 , 80, 120, 210, 20, 150],
                backgroundColor: ['rgba(30, 197, 62, 0.4)'],
                fill:false, borderColor: 'rgb(123, 432, 111)', lineTension:0.1
              }, {
                label: "Conta de Luz", 
                data: [150 , 180, 90, 110, 105, 50],
                 backgroundColor: ['rgba(30, 40, 215, 0.4)'],
                fill:false, borderColor: 'rgba(30, 40, 215, 0.4)', lineTension:0.1
                }]},
            options: { 
              scales: {
               yAxes: [{ticks: {beginAtZero: true,}}]
            }}
            });
          </script>
      </div>

      <div class="col-md-6 quadro">
          <div class="titulo">
            <h4>Ordens de Serviço por Técnico - MÊS</h4>
          </div>
          <script type="text/javascript">      
            var ctx = document .getElementById( "TecnicoChart" ); 
            var ctx = document .getElementById( "TecnicoChart" ).getContext( "2d" ); 
            var ctx = $( "#TecnicoChart" ); 
            var ctx = "TecnicoChart"; 
          </script>
        <canvas id="TecnicoChart" width="100%" height= "50%"></canvas>
          <script>
            var ctx = document .getElementById( "TecnicoChart" );
            var TecnicoChart = new Chart(ctx, { 
            type: 'horizontalBar' , 
            data: { labels: [ "Funcionário 1" , "Funcionário 2" , "Funcionário 3" , "Funcionário 4"], 
              datasets: [{ label: 'Nº de Ordens de Serviço - MÊS' , 
              data: [ 20 , 30 , 15 , 60],
              fill: false,
              backgroundColor: [ 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)' , 'rgba(54, 362, 135, 0.5)'],
              borderColor: ['rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)' , 'rgba(54, 362, 135, 0.9)'],
              borderWidth: 1}]            
            }, 
          options: { scales: { xAxes: [{ ticks: { beginAtZero: true } }] } } });
          </script>
      </div>
 
</div>

  <!--
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	{# Script para criação do gráfico de fluxo de caixa #}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var monthNames = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
	      "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
      ];
      var dt = new Date();
      var month = dt.getMonth();

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mês', 'Faturamento'],
          [monthNames[month-3],  {{ valor4 }}],
          [monthNames[month-2],  {{ valor3 }}],
          [monthNames[month-1],  {{ valor2 }}],
          [monthNames[month],  {{ valor1 }}],
        ]);

        var options = {
          title: 'Acompanhamento de Caixa',
          hAxis: {title: 'Mês',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
	<div id="chart_div" style="width: 70%; height: 500px; margin-left: 16%;" ></div>
  -->
	{% endif %}

{% endblock %}