{% extends 'home.html' %}
{% block content %}

    <div class="container">
	<div class="row-fluid">

		<section class="content">
		{% if user.e_funcionario == False %}
			<div class="">
				<div class="panel panel-default">
                		<h1>Lista de Bagagens</h1>
					<div class="panel-body">
                    {% if bagagens %}
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter" data-target="pronto">Pronto</button>
								<button type="button" class="btn btn-warning btn-filter" data-target="pendente">Pendente</button>
								<button type="button" class="btn btn-danger btn-filter" data-target="atrasado">Atrasado</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
							</div>
						</div>
                    <div class="table-container">

<table id="mytable" class="table table-bordred table-striped" style="text-align: center; margin-top: 10%;">

                   <thead>
                   <th style="text-align: center">Tecnico Responsável</th>
                   <th style="text-align: center">Marca</th>
                   <th style="text-align: center">Cor</th>
                   <th style="text-align: center">Data de Entrega</th>
                {% endif %}
                   </thead>
    <tbody>


    {% for bagagem in bagagens %}
        <tr data-status="{{ bagagem.get_status }}" onClick='return minhaFuncaoOnClick({{ bagagem.pk }});' onMouseOver='return minhaFuncaoOnMouseOver(this);' onMouseOut='return minhaFuncaoOnMouseOut(this);'>
            <td>{{ bagagem.cliente.username }}</td>
            <td>{{ bagagem.marca }}</td>
            <td>{{ bagagem.cor }}</td>
            <td>{{ bagagem.get_future_date }} </td>
        </tr>
    {% empty %}
            <tr>
                <td><div class="alert alert-danger" role="alert">Nenhuma bagagem cadastrada!</div></td>
            </tr>

    {% endfor %}

    </tbody>

</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% else %}
			<div class="alert alert-danger" role="alert">Página exclusiva para clientes!</div>
		{% endif %}
	</div>
</div>
    <script language='javascript' type='text/javascript'>
       function minhaFuncaoOnClick(pk){
            window.location.href='/bagagens/'+pk;
       }
       function minhaFuncaoOnMouseOver(objTR){
            objTR.style.background='#DDDDDD';
       }

       function minhaFuncaoOnMouseOut(objTR){
            objTR.style.background='#FFFFFF';
       }

    </script>

{% endblock %}