{% extends 'home.html' %}
{% load widget_tweaks %}
{% load static%}
{% block content %}

	<style type="text/css">
		SELECT, INPUT[type="text"] {
		    width: 160px;
		    box-sizing: border-box;
		}
		SECTION {
		    padding: 8px;
		    background-color: ghostwhite;
		    overflow: auto;
        border-radius: 10px;
		}
		SECTION > DIV {
		    float: left;
		    padding: 4px;
		}
		SECTION > DIV + DIV {
		    width: 40px;
		    text-align: center;
		}
	</style>
<div class="container">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-briefcase"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-wrench"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form class="form-horizontal" id="form1" action="#" method="post">
                {% csrf_token %}
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">

                        <h2 style="font-family: Times">Selecione o Cliente</h2>
                        <br>
                        <div class="form-group">
                          <label for="cliente" class="col-sm-2 control-label">Cliente</label>
                          <div class="col-sm-10">
                            <select class="form-control">
                              {% for field in form.cliente %}
                                  <option value="" disabled selected hidden> - Selecione - </option>
                                  <option value='{{ field }}'></option>
                              {% endfor %}
                            </select>
                            <a class="btn" href="{% url 'accounts:register' %}">+ Novo</a>
                          </div>
                        </div>
                        <br>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step" >Continuar</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h2 style="font-family: Times">Características do Objeto</h2>
                        <br>
                        <div class="form-group">
                          <label for="tipo_bagagem" class="col-sm-2 control-label">Tipo de Bagagem</label>
                          <div class="col-sm-10">
                            <select class="form-control">
                                      {% for field in form.tipo_bagagem %}
                                          <option value="" disabled selected hidden> - Selecione - </option>
                                          <option value='{{ field }}'></option>
                                      {% endfor %}
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="tipo_mala" class="col-sm-2 control-label">Tipo de Mala</label>
                          <div class="col-sm-10">
                            <select class="form-control">
                                      {% for field in form.tipo_mala %}
                                          <option value="" disabled selected hidden> - Selecione - </option>
                                          <option value='{{ field }}'></option>
                                      {% endfor %}
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="marca" class="col-sm-2 control-label">Marca</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_marca" placeholder="...">
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="cor" class="col-sm-2 control-label">Cor</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_cor" placeholder="...">
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="tamanhos" class="col-sm-2 control-label">Tamanhos</label>
                          <div class="col-sm-10">
                            <select class="form-control">
                                      {% for field in form.tamanhos %}
                                          <option value="" disabled selected hidden> - Selecione - </option>
                                          <option value='{{ field }}'></option>
                                      {% endfor %}
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                          <label for="modelos" class="col-sm-2 control-label">Modelo</label>
                          <div class="col-sm-10">
                            <select class="form-control">
                                      {% for field in form.modelos %}
                                          <option value="" disabled selected hidden> - Selecione - </option>
                                          <option value='{{ field }}'></option>
                                      {% endfor %}
                            </select>
                          </div>
                        </div>
                        <br>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Voltar</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Continuar</button></li>
                        </ul>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step3">
                      <h2 style="font-family: Times">Tipos de Serviço</h2><br>
                      <div class="form-group">
                        <label for="tipo_servicos" class="col-sm-2 control-label">Tipos de Serviço:</label>
                        <section class="container">
						    <div>
						        <select id="leftValues" size="5" multiple></select>
						    </div>
						    <div>
						        <input type="button" id="btnLeft" value="&lt;&lt;" />
						        <input type="button" id="btnRight" value="&gt;&gt;" />
						    </div>
						    <div>
						        <select id="rightValues" size="{{ tipos.length }}" multiple>
						            {% for tipo in tipos %}
							        <option>{{ tipo.nome }}</option>
							        {% endfor %}
						        </select>
						        <div>
						            <input type="text" id="txtRight" />
						        </div>
						    </div>
						</section>
                      </div>
                      <div class="form-group">
                        <label for="tecnico" class="col-sm-2 control-label">Técnico:</label>
                        <div class="col-sm-10">
                          <select class="form-control">
                                    {% for field in form.tecnico %}
                                        <option value="" disabled selected hidden> - Selecione - </option>
                                        <option value='{{ field }}'></option>
                                    {% endfor %}
                          </select>
                        </div>
                      </div>
                          <ul class="list-inline pull-right">
                              <li><button type="button" class="btn btn-default prev-step">Voltar</button></li>
                              <li><button type="button" class="btn btn-primary btn-info-full next-step">Continuar</button></li>
                          </ul>
                          <p>Alguma observacao?</p>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Concluído</h3>
                            <div class="form-group">
                            <div class="col-md-12 text-right">
                              <button type="submit" form="form1" class="btn btn-primary btn-lg">Enviar</button>
                            </div>
                          </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock content %}
