{% extends 'home.html' %}
{% block content %}

<div class="container" style="background: white">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Detalhes da Bagagem</h2>
                <h3 class="pull-right" style="font-style: italic">Ordem de Serviço:
                #{{ bagagem.id }}
                </h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>CLIENTE</strong><br>
    					<p>Nome: {{ bagagem.cliente.get_full_name }}<br>
    					Usuário: {{ bagagem.cliente.username }}<br>
    					Endereço: {{ bagagem.cliente.endereco }}<br>
    					Telefone:{{ bagagem.cliente.telefone }}
                        </p>
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
                     <address>
                        <p style="font-weight: bold; color: #002266">{{ bagagem.created_at }}</p><br>
                    </address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
                    <strong>BAGAGEM ({{ bagagem.get_tipo_bagagem_display }})</strong><br>
                        <p>Tipo: {{ bagagem.get_tipo_mala_display }}<br>
                        Marca: {{ bagagem.marca }}<br>
                        Cor: {{ bagagem.cor }}<br>
                        Tamanho: {{ bagagem.get_tamanhos_display }}<br>
                        Modelo: {{ bagagem.get_modelos_display }}<br>
                        </p>
                    </address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address><br>
                    <strong>Outras Informações:</strong><br>
                        <p>Aqui ficarão todas as outras informações de cadastro referentes à mala cadastrada. Qualquer informação que seja relevante!
                        </p>
                    </address>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Serviços</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Descrição</strong></td>
        							<td class="text-center"><strong>Valor</strong></td>
        							<td class="text-right" style="font-size: large;"><strong>Total</strong></td>
                                </tr>
    						</thead>
    						<tbody>

    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
                                {% for servico in servicos %}
                                    <tr>
                                        <td>{{servico.nome}}</td>
                                        <td class="text-center">{{ servico.descricao }}</td>
                                        <td class="text-center">R$ {{ servico.valor }}</td>
                                        <td class="text-right"></td>
                                    </tr>
                                {% empty %}
                                        <td class="text-right">0</td>
    							{% endfor %}
                                    <tr>
                                        <td></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-right" style="color: red; font-size: x-large; font-weight: 800;">{{ total }}</td>
                                    </tr>


    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>

{% endblock content %}