{% extends 'home.html' %}
{% block content %}

    <div class="container">
	<div class="row-fluid">

		<section class="content">

			<div class="">
				<div class="panel panel-default">
                		<h1>Histórico do Funcionário</h1>
                    <div class="info_tec">
                        <h3> Nome: {{ tecnico.nome }} </h3>
                        <h5>Telefone: {{ tecnico.telefone }} </h5>
                        <h5>Endereço: {{ tecnico.endereco }}</h5>
                        <h5>Comissão: {{ tecnico.comissao }}%</h5>
                    </div>
					<div class="panel-body" id="historico">
                    {% if bagagens %}

                        <table id="mytable" class="table table-bordred table-striped" style="text-align: center; margin-top: 3%;">

                                           <thead>
                                           <th style="text-align: center">Id bagagem</th>
                                            <th style="text-align: center">Cliente</th>
                                           <th style="text-align: center">Marca</th>
                                           <th style="text-align: center">Cor</th>
                    {% endif %}
                                           </thead>
                            <tbody>


                            {% for bagagem in bagagens %}
                                <tr onClick='return minhaFuncaoOnClick({{ bagagem.pk }});' onMouseOver='return minhaFuncaoOnMouseOver(this);' onMouseOut='return minhaFuncaoOnMouseOut(this);'>
                                    <td>{{ bagagem.pk }}</td>
                                    <td>{{ bagagem.cliente.get_full_name }}</td>
                                    <td>{{ bagagem.marca }}</td>
                                    <td>{{ bagagem.cor }}</td>
                                </tr>
                            {% empty %}
                                    <tr>
                                        <td><div class="alert alert-danger" role="alert">Este tecnico ainda nao possui histórico!</div></td>
                                    </tr>

                            {% endfor %}

                            </tbody>

                        </table>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
    <script language='javascript' type='text/javascript'>
       function minhaFuncaoOnClick(pk){
            window.location.href='/bagagens/'+pk;
       }
       function minhaFuncaoOnMouseOver(objTR){
            objTR.style.background='#DDDDDD';
       }

       function minhaFuncaoOnMouseOut(objTR) {
           objTR.style.background = '#FFFFFF';
       }

    </script>

{% endblock %}